<form ng-submit="ok(newPeople)" name="people">
    <div class="modal-header">
        <h4 class="modal-title">Cadastrar</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input type="text" class="form-control input-sm" placeholder="Nome" focus-me="true"
                    ng-model="newPeople.name" ng-required="true">
        </div>
        <div class="form-group">
            <input type="email" class="form-control input-sm" placeholder="E-mail"
                   ng-model="newPeople.email" ng-required="true">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="people.$invalid">OK</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>